.pytest_cache
__pycache__
node_modules
venv
venv_linux
.env
.env.cloud
.env.local
credentials.json
token.json
.windsurfrules
.claude
CLAUDE.md
google-credentials
rag-documents
test-results
playwright-report
frontend-env.env
agent-api-env.env
rag-pipeline-env.env
infra/terraform.tfvars
.terraform
.terraform*